<ion-header class="ion-no-border">
  <app-holatoolbar title="{{operation}} Location"></app-holatoolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="0" sizeMd="3"></ion-col>
    <ion-col size="12" sizeMd="6">

    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input required=true placeholder="001" [(ngModel)]="locationobj.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Location Type</ion-label>
      <ion-select mode="md" [(ngModel)]="locationobj.locationtypeID">
        <ion-select-option *ngFor="let item of dataService.locationtypelist;" value="{{item.id}}">{{item.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label  position="floating">Min Temperature (°C)</ion-label>
      <ion-input required=true type="number" placeholder="2" [(ngModel)]="locationobj.temperaturemin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Max Temperature (°C)</ion-label>
      <ion-input required=true type="number" placeholder="10" [(ngModel)]="locationobj.temperaturemax"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Min Humidity (%)</ion-label>
      <ion-input required=true type="number" [(ngModel)]="locationobj.humiditymin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Max Humidity (%)</ion-label>
      <ion-input required=true type="number" [(ngModel)]="locationobj.humiditymax"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sensors</ion-label>
       <ion-select mode="md" multiple="true" [(ngModel)]="locationobj.sensors" [value]="locationobj.sensors">
        <ion-select-option *ngFor="let sensor of dataService.sensorlist" value="{{sensor.id}}">{{sensor.serialnumber}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>
  <ion-col size="0" sizeMd="3"></ion-col>
 </ion-row>
</ion-content>
<ion-footer>
    <ion-row>
      <ion-col size="1" sizeMd="4"></ion-col>
      <ion-col size="5" sizeMd="2">
        <ion-button color="cancel" type="submit" expand="block" (click)="closeDialog()">Cancel</ion-button>
      </ion-col>
      <ion-col size="5" sizeMd="2">
        <ion-button color="primary" type="submit" expand="block" (click)="save()">Save</ion-button>
      </ion-col>
      <ion-col size="1" sizeMd="4"></ion-col>
    </ion-row>
</ion-footer>
