
ion-content {
  --background: url("../../assets/images/loginbg.png") no-repeat center/cover fixed;
}
.main-container {
    height: 100%;
    max-height: 100%;
    overflow: hidden !important;
    display:flex;
}

.forget-pass{
  text-transform: none;
}

.vertical-center {
  vertical-align: middle;
}
