<ion-header class="ion-no-border" >
  <app-holatoolbar title="Sensors" iconName="hardware-chip-outline"></app-holatoolbar>
</ion-header>

<ion-content class="ion-content-grey">
  <ion-searchbar class="crudsearchbar" [(ngModel)]="strsearch" placeholder=""></ion-searchbar>
  <ion-row>
    <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="3" *ngFor="let item of dataService.sensorlist | filter:strsearch">
    <ion-card (click)="editSensor(item)" class="itemcard">
    <ion-item class="VSmallBold">
      <ion-label color="medium">{{item.serialnumber}}</ion-label>
      <ion-icon slot="end" color="danger" size="small" name="trash-outline" (click)="confirmDelete(item)"></ion-icon>
    </ion-item>
    <ion-item lines="none" class="VSmallNormal">
      <ion-label>
        <ion-text><p><span class="fieldname">Type:</span>&nbsp;XYZ-ABC</p></ion-text>
        <ion-text><p><span class="fieldname">Model:</span>&nbsp;Dummy data</p></ion-text>
        <ion-text><p><span class="fieldname">Location:</span>&nbsp;{{item.locationname}}</p></ion-text>
        <ion-text><p><span class="fieldname">Last Read:</span>&nbsp;date and time</p></ion-text>
        <ion-text><p><span class="fieldname">Details:</span>&nbsp;{{item.remarks}}</p></ion-text>
      </ion-label>
    </ion-item>
    </ion-card>
    </ion-col>
  </ion-row>

  <!-- Empty div to provide some additional scroll-->
  <div style="min-height: 80px !important;">&nbsp;</div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  (click)="addSensor()"  >
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
