<ion-header class="ion-no-border">
  <app-holatoolbar title="Settings"></app-holatoolbar>
</ion-header>
<ion-content>
<ion-row>
 <ion-col size="12" sizeMd="6" offsetMd="3">

 <ion-card>
  <ion-accordion-group value="notifications">
  <ion-accordion value="notifications">
    <ion-item slot="header" class="SmallNormal" color="accent">
      <ion-label>Notification Settings</ion-label>
    </ion-item>
    <ion-list slot="content">
      <ion-item lines="none" class="SmallNormal">
        <ion-icon name="mail-unread-outline" slot="start" color="tertiary"></ion-icon>
        <ion-label>Email</ion-label>
        <ion-toggle color="secondary" [(ngModel)]="emailnot"></ion-toggle>
      </ion-item>
      <ion-card class="inputcard">
      <ion-item class="VSmallNormal">
        <ion-label position="stacked">Enter email ids seperated by comma</ion-label>
        <ion-input placeholder="example@gmail.com" [(ngModel)]="stremail" disabled="{{!emailnot}}"></ion-input>
      </ion-item>
      </ion-card>
      <ion-item lines="none" class="SmallNormal">
        <ion-icon name="logo-whatsapp" slot="start" color="success"></ion-icon>
        <ion-label>WhatsApp</ion-label>
        <ion-toggle color="secondary" [(ngModel)]="whatsappnot"></ion-toggle>
      </ion-item>
      <ion-card class="inputcard">
        <ion-item class="VSmallNormal">
          <ion-label position="stacked">Enter phone nos seperated by comma</ion-label>
          <ion-input placeholder="98xxxxxxxx" [(ngModel)]="strphone" disabled="{{!whatsappnot}}"></ion-input>
        </ion-item>
        </ion-card>
      <ion-item lines="none" class="SmallNormal">
        <ion-icon name="phone-portrait-outline" slot="start" color="primary"></ion-icon>
        <ion-label>In App</ion-label>
        <ion-toggle color="secondary" checked></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-accordion>
 </ion-accordion-group>
</ion-card>

</ion-col>
</ion-row>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row class="ion-justify-content-center">
      <ion-button size="small" color="cancel" type="submit" (click)="close()">Cancel</ion-button>&nbsp;
      <ion-button size="small" color="primary" type="submit" (click)="save()">&nbsp;&nbsp;Save&nbsp;&nbsp;</ion-button>
  </ion-row>
</ion-footer>
