.myicon{
  height: 25px;
  // width: 100%;
   padding: 0px !important;
   margin: 0px !important;
 }

 .parabox {
   //background-color: #f7f7f7;
   border-top: solid 1px #ddd;
   padding: 0%;
   text-align: center;
 }


.cardrow1{
  margin: 7px !important;
  height:90%;
}

.cardrow2{
  margin: 7px !important;
}

.statusimg{
  height: 60px;
}

.statusitem{
  @media (min-width: 768px) {
      margin-top: 10%;
  }
}


.sensordetails
{
  margin: 0px !important;
}

