.statusimg{
  height: 80%;
}

.myicon{
  height: 25px;
  // width: 100%;
   padding: 0px !important;
   margin: 0px !important;
 }

 .parabox {
   //background-color: #f7f7f7;
   border-top: solid 1px #ddd;
   padding: 0%;
   text-align: center;
 }
