.myicon{
  height: 35px;
  // width: 100%;
   padding: 0px !important;
   margin: 5px !important;
 }

 .parabox {
   //background-color: #f7f7f7;
   border-top: solid 1px #ddd;
   padding: 0%;
   text-align: center;
 }

 ion-segment-button{
  --indicator-box-shadow: transparent !important;
  --background:white;
  --color:var(--ion-color-primary);
  --background-checked: var(--ion-color-accent2)!important;
  border-radius: .5rem !important;
  padding: 0px;
  margin-top: 5px;
 }

 .info{
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
  font-size: 0.8rem;
  font-weight: normal;
 }

.cardrow1{
  margin: 7px !important;
  height:90%;
}

.cardrow2{
  margin: 7px !important;
}

.statusimg{
  height: 70px;
}

.statusitem{
  @media (min-width: 768px) {
     margin-top: 5%;
  }
}


.sensordetails
{
  margin: 0px !important;
}

