<ion-header>
  <app-holatoolbar title="{{locationobj.locationtypename}} - {{locationobj.name}}" iconName="home-outline"></app-holatoolbar>
</ion-header>
<ion-content class="ion-content-grey">
  <ion-grid class="ion-no-padding">
  <ion-row>
  <ion-col size="3">
    <ion-card color="warning">
      <ion-item class="LargeNormal" lines="none" color="warning">
        <ion-label class="ion-text-start">Alert!</ion-label>
        <img src="../../assets/icon/sadsmile.png" class="statusimg">
      </ion-item>
   </ion-card>
  </ion-col>
  <ion-col size="3">
    <ion-card color="primary">
      <ion-item class="VLargeNormal" lines="none" color="primary">
        <ion-label>{{locationobj.currenttemp}}°C <p class="SmallNormal">Temperature</p></ion-label>
        <img src="../../assets/icon/temp.png" class="statusimg">
      </ion-item>
    </ion-card>
  </ion-col>
    <ion-col size="3">
    <ion-card color="accent">
    <ion-item class="VLargeNormal" lines="none" color="accent">
      <ion-label>{{locationobj.currenthumidity}}°C <p class="SmallNormal">Humidity</p></ion-label>
      <img src="../../assets/icon/humidity.png" class="statusimg">
    </ion-item>
  </ion-card>
</ion-col>
<ion-col size="3">
  <ion-card>
    <ion-card-content class="ion-no-padding">
      <ion-label>Air Quality</ion-label>
      <ion-row>
      <ion-col size="6"*ngIf="locationobj.currentco2level">
        <div class="parabox">
          <ion-img class="myicon" src="../../assets/icon/co2.png"></ion-img>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currentco2level >= locationobj.co2levelmin) &&  (locationobj.currentco2level <= locationobj.co2levelmax)">{{locationobj.currentco2level}} ppm</ion-label>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currentco2level < locationobj.co2levelmin) || (locationobj.currentco2level > locationobj.co2levelmax)" color="danger">{{locationobj.currentco2level}} ppm</ion-label>
      </div>
      </ion-col>
      <ion-col size="6"*ngIf="locationobj.currentbarometricpressure">
        <div class="parabox">
          <ion-img class="myicon" src="../../assets/icon/pressure.png"></ion-img>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currentbarometricpressure >= locationobj.barometricpressuremin) &&  (locationobj.currentbarometricpressure <= locationobj.barometricpressuremax)">{{locationobj.currentbarometricpressure}} kPa</ion-label>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currentbarometricpressure < locationobj.barometricpressuremin) || (locationobj.currentbarometricpressure > locationobj.barometricpressuremax)" color="danger">{{locationobj.currentbarometricpressure}} kPa</ion-label>
      </div>
      </ion-col>
      <ion-col size="6"*ngIf="locationobj.currentpm2pt5level">
        <div class="parabox">
          <ion-img class="myicon" src="../../assets/icon/pm25.png"></ion-img>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currentpm2pt5level >= locationobj.pm2pt5levelmin) &&  (locationobj.currentpm2pt5level <= locationobj.pm2pt5levelmax)">{{locationobj.currentpm2pt5level}} μg/m3</ion-label>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currentpm2pt5level < locationobj.pm2pt5levelmin) || (locationobj.currentpm2pt5level > locationobj.pm2pt5levelmax)" color="danger">{{locationobj.currentpm2pt5level}} μg/m3</ion-label>
      </div>
      </ion-col>
      <ion-col size="6"*ngIf="locationobj.currentpm10level">
        <div class="parabox">
          <ion-img class="myicon" src="../../assets/icon/pm10.png"></ion-img>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currentpm10level >= locationobj.pm10levelmin) &&  (locationobj.currentpm10level <= locationobj.pm10levelmax)">{{locationobj.currentpm10level}} μg/m3</ion-label>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currentpm10level < locationobj.pm10levelmin) || (locationobj.currentpm10level > locationobj.pm10levelmax)" color="danger">{{locationobj.currentpm10level}} μg/m3</ion-label>
      </div>
      </ion-col>
      <ion-col size="6"*ngIf="locationobj.currenttvoclevel">
        <div class="parabox">
          <ion-img class="myicon" src="../../assets/icon/tvoc.png"></ion-img>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currenttvoclevel >= locationobj.tvoclevelmin) &&  (locationobj.currenttvoclevel <= locationobj.tvoclevelmax)">{{locationobj.currenttvoclevel}} ppb</ion-label>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currenttvoclevel < locationobj.tvoclevelmin) || (locationobj.currenttvoclevel > locationobj.tvoclevelmax)" color="danger">{{locationobj.currenttvoclevel}} ppb</ion-label>
      </div>
      </ion-col>
      <ion-col size="6"*ngIf="locationobj.currenthcholevel">
        <div class="parabox">
          <ion-img class="myicon" src="../../assets/icon/hcho.png"></ion-img>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currenthcholevel >= locationobj.hcholevelmin) &&  (locationobj.currenthcholevel <= locationobj.hcholevelmax)">{{locationobj.currenthcholevel}} ppm</ion-label>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currenthcholevel < locationobj.hcholevelmin) || (locationobj.currenthcholevel > locationobj.hcholevelmax)" color="danger">{{locationobj.currenthcholevel}} ppm</ion-label>
      </div>
      </ion-col>
      <ion-col size="6"*ngIf="locationobj.currentozonelevel">
        <div class="parabox">
          <ion-img class="myicon" src="../../assets/icon/o3.png"></ion-img>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currentozonelevel >= locationobj.ozonelevelmin) &&  (locationobj.currentozonelevel <= locationobj.ozonelevelmax)">{{locationobj.currentozonelevel}} ppb</ion-label>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currentozonelevel < locationobj.ozonelevelmin) || (locationobj.currentozonelevel > locationobj.ozonelevelmax)" color="danger">{{locationobj.currentozonelevel}} ppb</ion-label>
      </div>
      </ion-col>
      <ion-col size="6"*ngIf="locationobj.currentillumination">
        <div class="parabox">
          <ion-img class="myicon" src="../../assets/icon/lux.png"></ion-img>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currentillumination >= locationobj.illuminationmin) &&  (locationobj.currentillumination <= locationobj.illuminationmax)">{{locationobj.currentillumination}} lux</ion-label>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currentillumination < locationobj.illuminationmin) || (locationobj.currentillumination > locationobj.illuminationmax)" color="danger">{{locationobj.currentillumination}} lux</ion-label>
      </div>
      </ion-col>
      <ion-col size="6"*ngIf="locationobj.currentsound">
        <div class="parabox">
          <ion-img class="myicon" src="../../assets/icon/sound.png"></ion-img>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currentsound >= locationobj.soundmin) &&  (locationobj.currentsound <= locationobj.soundmax)">{{locationobj.currentsound}} dB</ion-label>
          <ion-label class="VSmallNormal" *ngIf="(locationobj.currentsound < locationobj.soundmin) || (locationobj.currentsound > locationobj.soundmax)" color="danger">{{locationobj.currentsound}} dB</ion-label>
      </div>
      </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  </ion-col>
  </ion-row>
  </ion-grid>
 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="editLocation()">
    <ion-icon name="create-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
