

.modal-toolbar {
    height: 140px !important;    
    ion-title {
        margin-left: -120px; 
    }
    .head {        
        margin-top: 10px !important;
        
    }
    .detail {      
        margin-top: 20px !important;     
        margin-left: 25px !important;   
        .detailright {
            font-size: 1.6rem !important;
        }
        .detailleft{
            font-size: 1.6rem !important;
        }

    }
    .label {       
        margin-top: -5px !important;
        font-size: 0.9rem !important;
        margin-left: 25px !important; 
    }
    
}
   

.item-div {
    margin-top: 15px;
    padding-top: 10px;
  
}

.button {
    margin-top: 10px;
}


ion-select{
    border-bottom: 1px solid var(--ion-color-borderbtm) !important;
    --padding-bottom: 0px;
}


.scroll-content {
    padding-bottom: 0 !important;
 }