<ion-header>
  <app-holamodalbar title="{{operation}} Sensor"></app-holamodalbar>
</ion-header>
<ion-content>
  <ion-item>
      <ion-label position="floating">Serial Number</ion-label>
      <ion-input [(ngModel)]="sensorobj.serialnumber" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Details/Remarks</ion-label>
    <ion-textarea [(ngModel)]="sensorobj.remarks" type="text" autoGrow="true"></ion-textarea>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary" class="ion-text-right" (click)="save()">SAVE</ion-label>
   </ion-item>
</ion-content>
