<ion-header class="ion-no-border">
  <app-holatoolbar title="Location Types"></app-holatoolbar>
</ion-header>

<ion-content class="ion-content-grey">
  <ion-searchbar class="crudsearchbar" [(ngModel)]="strsearch"></ion-searchbar>
  <ion-row>
    <ion-col size="12" sizeMd="6" sizeLg="4" sizeXl="3" *ngFor="let item of dataService.locationtypelist | filter:strsearch">
    <ion-item lines="none" class="itemlist">
        <ion-row class="Wid100">
         <!--
          <ion-col size="1">
              <ion-icon class="listiconstyle" name="business-outline" (click)="editLocationtype(item)"></ion-icon>
          </ion-col>-->
          <ion-col (click)="editLocationtype(item)">{{item.name}}</ion-col>
          <!--
          <ion-col size="0" sizeLg="1">
            <ion-icon class="editIcon" name="create-outline" (click)="editLocationtype(item)"></ion-icon>
          </ion-col>-->
          <ion-col  size="1">
            <ion-icon size="small" color="danger" name="trash-outline"  (click)="confirmDelete(item)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-col>
  </ion-row>

    <!-- Empty div to provide some additional scroll-->
    <div style="min-height: 80px !important;">&nbsp;</div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addLocationtype()" >
        <ion-icon name="add">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
