/*
.welcomeRow{
    color: var(--ion-color-primary-contrast) !important;
    margin-top: 5px;
    margin-left: 20px;
    font-weight: normal !important;
    font-size: 1.2rem;
}
.companyName{
    color: var(--ion-color-primary-contrast) !important;
    margin-top: 5px;

    margin-left: 20px;
    font-weight: bold;
    font-size: 1.2rem;

}*/
/*
.head-title {
    color: var(--ion-color-primary-contrast) !important;
    height: 70px ;
    h5 {
        margin-left: 20px;
        font-weight: normal !important;
        font-size: 1.2rem;
        margin-bottom: -1px;
    }
    ion-title {
        margin-left: 20px;
        font-weight: bold;
        font-size: 1.2rem;

    }
}*/

