/*
.menu-itm {
    --background: var(--ion-color-primary);
    border: none !important;
    color: var(--ion-color-primary-contrast);
    height: 50px;
}*/

.menu-title {
    float: left;
    padding-left: 0%;
    margin-left: 5%;
}

.title-img{
  padding-right: 0%;
  margin-right: 0%;
}

.submenu ion-item {
    margin-left: 8%;
}

.splitpane{
  --side-width:15%;
}

ion-menu ion-content ion-item.active{
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}
