<ion-app>
  <ion-split-pane contentId="content1" class="splitpane">
  <ion-menu side="start" menuId="first" contentId="content1" type="overlay">
    <ion-header class="ion-no-border" >
      <ion-toolbar>
      <ion-item lines="none">
        <ion-thumbnail slot="start" class="title-img"><ion-img src="../assets/icon/logo.png"></ion-img></ion-thumbnail>
        <ion-title class="menu-title SmallNormal" color="primary">Air Quality<br>Monitoring System</ion-title>
      </ion-item>
      <ion-item>
        <ion-chip slot="end" class="VSmallNormal" color="secondary"><ion-label>{{this.dataService.company.name}}</ion-label>
        <ion-icon name="person" color="secondary" size="small"></ion-icon>
      </ion-chip></ion-item>
    </ion-toolbar>
    </ion-header>
    <ion-content>
      <div *ngFor="let pages of navigate">
        <ion-menu-toggle auto-hide="false" *ngIf="pages.url">
          <ion-item [routerLink]="pages.url" routerDirection="forward" routerLinkActive="active" class="VSmallNormal">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
            <ion-label>{{ pages.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </div>
      <ion-item [routerLink]="['/']" routerDirection="forward" class="VSmallNormal">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>
  <ion-router-outlet [animated]="false" id="content1"></ion-router-outlet>
</ion-split-pane>
</ion-app>
