.toolbarBackButton {
    --icon-font-size: 20px;
    --icon-font-weight: bold;
    --padding-bottom: 8px !important;
}

.toolbarMenuButton {
    --icon-font-size: 25px;
    --icon-font-weight: bold;
    --padding-bottom: 8px !important;
}

.toolBarTitle {
    margin-top: 10px !important;
    @media (min-width: 992px) {
      margin-left: 15px;
    }
}

.toolbar {
    height: 50px;
    --background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
}

.toolbarIcon{
    color: var(--ion-color-primary-contrast);
    height: 25px !important;
    width: 25px !important;
    margin-top: 10px;
    margin-left: 15px;
}

.not{
  --box-shadow: none;
  //position: relative;

}

ion-button.ios {
  margin-top: 0%;
  //vertical-align:top;
}

.not-badge {
  position: absolute;
  top: 3px;
  right: 0px;
  background-color: var(--ion-color-tertiary);
  font-size: 0.7em;
  border-radius: 50%;
}
