.toolbarBackButton {
    --icon-font-size: 35px;
    --icon-font-weight: bold;
}

.toolbarMenuButton {
    --icon-font-size: 35px;
    --icon-font-weight: bold;
    --padding-bottom: 8px !important;
}

.toolBarTitle {
    margin-top: 15px !important;
}

.toolbar {
    height: 60px;
    --background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
}

.toolbarIcon{
    color: var(--ion-color-primary-contrast);
    height: 25px !important;
    width: 25px !important;
    margin-top: 15px;
    margin-left: 15px;
}

.not{
  --box-shadow: none;
  vertical-align:middle;
}
