.toolbarBackButton{
    --icon-font-size: 35px;
    --icon-font-weight: bold;
}

.toolBarTitle{
    //font-size:large;
    font-size:medium;
    margin-top: 10px !important;
    padding-left: 20px !important;
}

.toolbar {
    height: 50px;
    --background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
}
