<ion-header>
  <app-holatoolbar title="Sensor - {{operation}}" iconName="pencil-sharp"></app-holatoolbar>
</ion-header>
<ion-content>
 <ion-row>
  <ion-col size="12" sizeMd="6" offsetMd="3">
  <ion-item class="SmallNormal">
      <ion-label position="floating" color="medium">Serial Number</ion-label>
      <ion-input [(ngModel)]="sensorobj.serialnumber" type="text"></ion-input>
  </ion-item>
  <ion-item class="SmallNormal">
    <ion-label position="floating">Sensor Type</ion-label>
    <ion-select mode="md" interface="popover" [(ngModel)]="sensorobj.sensortypeID">
       <ion-select-option class="VSmallNormal" *ngFor="let item of dataService.sensortypelist;" value="{{item.id}}">{{item.name}}
       </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="SmallNormal">
    <ion-label position="floating" color="medium">Model</ion-label>
    <ion-input [(ngModel)]="sensorobj.model" type="text"></ion-input>
  </ion-item>
  <ion-item class="SmallNormal">
    <ion-label position="floating">Location</ion-label>
    <ion-select mode="md" interface="popover" [(ngModel)]="sensorobj.locationID">
       <ion-select-option class="VSmallNormal" *ngFor="let item of dataService.locationlist;" value="{{item.id}}">{{item.locationtypename}} - {{item.name}}
       </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="SmallNormal">
    <ion-label position="floating" color="medium">Details/Remarks</ion-label>
    <ion-input [(ngModel)]="sensorobj.remarks" type="text"></ion-input>
  </ion-item>
  </ion-col>
</ion-row>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row class="ion-justify-content-center">
      <ion-button size="small" color="cancel" type="submit" (click)="close()">Cancel</ion-button>&nbsp;
      <ion-button size="small" color="primary" type="submit" (click)="save()">&nbsp;&nbsp;Save&nbsp;&nbsp;</ion-button>
  </ion-row>
</ion-footer>

