.myicon{
  background-color: var(--ion-color-tertiary-tint);
  border-radius: 50%;
  padding:1%;
}

.clear{
   --box-shadow: none;
}

.unread{
  --background: var(--ion-color-accent2);
 // --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

.VSmallNormal {
  font-size: 0.8rem;
  font-weight: normal;
}
