<ion-header>
  <app-holatoolbar showMenu="true" title="Dashboard - Locations"></app-holatoolbar>
</ion-header>
<ion-content class="ion-content-grey">
<ion-item lines="none">
<ion-row class="selectfilter">
  <ion-col size="0"  sizeSm="6" sizeLg="8" class="ion-no-padding"></ion-col>
  <ion-col size="6" sizeSm="3" sizeLg="2" class="ion-no-padding">
    <ion-item lines="none">
      <!--<ion-label position="floating">Location type</ion-label>-->
      <ion-select mode="md" interface="popover" [(ngModel)]="dataService.dashboardlocationtypeid"
        (ionChange)="segmentChanged()" class="VSmallBold">
        <ion-select-option class="VSmallNormal" *ngFor="let item of dataService.locationtypelist;" value="{{item.id}}">{{item.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>
  <ion-col size="6" sizeSm="3" sizeLg="2" class="ion-no-padding">
    <ion-item lines="none">
     <!-- <ion-label position="floating">Filter</ion-label>-->
      <ion-select interface="popover" [(ngModel)]="defaultfilter" class="VSmallBold" placeholder="Filter">
        <ion-select-option class="VSmallNormal" *ngFor="let item of filterlist;" value="{{item.type}}">{{item.type}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>
</ion-row>
</ion-item>
  <div *ngIf="dataService.locationlist.length == 0">
    <ion-img src="../../assets/images/warehouse.png" id="imgPlacement" class="myphoto"></ion-img>
    <h5 class="ion-text-center">No Locations added yet</h5>
    <h6 class="ion-text-center">Click (+) button to add new Location</h6>
  </div>

  <div *ngIf="dataService.locationlist && dataService.locationlist.length > 0">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12" sizeSm="6" sizeLg="4" class="ion-no-padding" *ngFor="let item of dataService.dashboardlocationlist">
          <ion-card (click)="viewLocation(item)">
            <ion-card-content class="ion-no-padding ion-text-center">
              <ion-chip>
              <ion-label class="VSmallNormal ion-text-center">{{item.locationtypename}} - <span class="roomname">{{item.name}}</span></ion-label>
              </ion-chip>
              <ion-row>
              <ion-col size="3" *ngIf="item.currenttemp">
                <div class="parabox">
                  <ion-img class="myicon" src="../../assets/icon/temp.png"></ion-img>
                  <ion-label class="VSmallNormal" *ngIf="(item.currenttemp >= item.temperaturemin) &&  (item.currenttemp <=  item.temperaturemax)">{{item.currenttemp ? item.currenttemp : 5}}°C</ion-label>
                  <ion-label class="VSmallBold" *ngIf="(item.currenttemp < item.temperaturemin) || (item.currenttemp > item.temperaturemax)" color="danger">{{item.currenttemp ? item.currenttemp : 5}}°C</ion-label>
                </div>
              </ion-col>
              <ion-col size="3" *ngIf="item.currenthumidity">
                <div class="parabox">
                  <ion-img class="myicon" src="../../assets/icon/humidity.png"></ion-img>
                  <ion-label class="VSmallNormal" *ngIf="(item.currenthumidity >= item.humiditymin) &&  (item.currenthumidity <= item.humiditymax)">{{item.currenthumidity}} %</ion-label>
                  <ion-label class="VSmallBold" *ngIf="(item.currenthumidity < item.humiditymin) || item.currenthumidity > item.humiditymax" color="danger">{{item.currenthumidity}} %</ion-label>
                </div>
              </ion-col>
              <ion-col size="3"*ngIf="item.currentco2level">
                <div class="parabox">
                  <ion-img class="myicon" src="../../assets/icon/co2.png"></ion-img>
                  <ion-label class="VSmallNormal" *ngIf="(item.currentco2level >= item.co2levelmin) &&  (item.currentco2level <= item.co2levelmax)">{{item.currentco2level}} ppm</ion-label>
                  <ion-label class="VSmallBold" *ngIf="(item.currentco2level < item.co2levelmin) || (item.currentco2level > item.co2levelmax)" color="danger">{{item.currentco2level}} ppm</ion-label>
              </div>
              </ion-col>
              <ion-col size="3"*ngIf="item.currentbarometricpressure">
                <div class="parabox">
                  <ion-img class="myicon" src="../../assets/icon/pressure.png"></ion-img>
                  <ion-label class="VSmallNormal" *ngIf="(item.currentbarometricpressure >= item.barometricpressuremin) &&  (item.currentbarometricpressure <= item.barometricpressuremax)">{{item.currentbarometricpressure}} kPa</ion-label>
                  <ion-label class="VSmallBold" *ngIf="(item.currentbarometricpressure < item.barometricpressuremin) || (item.currentbarometricpressure > item.barometricpressuremax)" color="danger">{{item.currentbarometricpressure}} kPa</ion-label>
              </div>
              </ion-col>
              <ion-col size="3"*ngIf="item.currentpm2pt5level">
                <div class="parabox">
                  <ion-img class="myicon" src="../../assets/icon/pm25.png"></ion-img>
                  <ion-label class="VSmallNormal" *ngIf="(item.currentpm2pt5level >= item.pm2pt5levelmin) &&  (item.currentpm2pt5level <= item.pm2pt5levelmax)">{{item.currentpm2pt5level}} μg/m3</ion-label>
                  <ion-label class="VSmallBold" *ngIf="(item.currentpm2pt5level < item.pm2pt5levelmin) || (item.currentpm2pt5level > item.pm2pt5levelmax)" color="danger">{{item.currentpm2pt5level}} μg/m3</ion-label>
              </div>
              </ion-col>
              <ion-col size="3"*ngIf="item.currentpm10level">
                <div class="parabox">
                  <ion-img class="myicon" src="../../assets/icon/pm10.png"></ion-img>
                  <ion-label class="VSmallNormal" *ngIf="(item.currentpm10level >= item.pm10levelmin) &&  (item.currentpm10level <= item.pm10levelmax)">{{item.currentpm10level}} μg/m3</ion-label>
                  <ion-label class="VSmallBold" *ngIf="(item.currentpm10level < item.pm10levelmin) || (item.currentpm10level > item.pm10levelmax)" color="danger">{{item.currentpm10level}} μg/m3</ion-label>
              </div>
              </ion-col>
              <ion-col size="3"*ngIf="item.currenttvoclevel">
                <div class="parabox">
                  <ion-img class="myicon" src="../../assets/icon/tvoc.png"></ion-img>
                  <ion-label class="VSmallNormal" *ngIf="(item.currenttvoclevel >= item.tvoclevelmin) &&  (item.currenttvoclevel <= item.tvoclevelmax)">{{item.currenttvoclevel}} ppb</ion-label>
                  <ion-label class="VSmallBold" *ngIf="(item.currenttvoclevel < item.tvoclevelmin) || (item.currenttvoclevel > item.tvoclevelmax)" color="danger">{{item.currenttvoclevel}} ppb</ion-label>
              </div>
              </ion-col>
              <ion-col size="3"*ngIf="item.currenthcholevel">
                <div class="parabox">
                  <ion-img class="myicon" src="../../assets/icon/hcho.png"></ion-img>
                  <ion-label class="VSmallNormal" *ngIf="(item.currenthcholevel >= item.hcholevelmin) &&  (item.currenthcholevel <= item.hcholevelmax)">{{item.currenthcholevel}} ppm</ion-label>
                  <ion-label class="VSmallBold" *ngIf="(item.currenthcholevel < item.hcholevelmin) || (item.currenthcholevel > item.hcholevelmax)" color="danger">{{item.currenthcholevel}} ppm</ion-label>
              </div>
              </ion-col>
              <ion-col size="3"*ngIf="item.currentozonelevel">
                <div class="parabox">
                  <ion-img class="myicon" src="../../assets/icon/o3.png"></ion-img>
                  <ion-label class="VSmallNormal" *ngIf="(item.currentozonelevel >= item.ozonelevelmin) &&  (item.currentozonelevel <= item.ozonelevelmax)">{{item.currentozonelevel}} ppb</ion-label>
                  <ion-label class="VSmallBold" *ngIf="(item.currentozonelevel < item.ozonelevelmin) || (item.currentozonelevel > item.ozonelevelmax)" color="danger">{{item.currentozonelevel}} ppb</ion-label>
              </div>
              </ion-col>
              <ion-col size="3"*ngIf="item.currentillumination">
                <div class="parabox">
                  <ion-img class="myicon" src="../../assets/icon/lux.png"></ion-img>
                  <ion-label class="VSmallNormal" *ngIf="(item.currentillumination >= item.illuminationmin) &&  (item.currentillumination <= item.illuminationmax)">{{item.currentillumination}} lux</ion-label>
                  <ion-label class="VSmallBold" *ngIf="(item.currentillumination < item.illuminationmin) || (item.currentillumination > item.illuminationmax)" color="danger">{{item.currentillumination}} lux</ion-label>
              </div>
              </ion-col>
              <ion-col size="3"*ngIf="item.currentsound">
                <div class="parabox">
                  <ion-img class="myicon" src="../../assets/icon/sound.png"></ion-img>
                  <ion-label class="VSmallNormal" *ngIf="(item.currentsound >= item.soundmin) &&  (item.currentsound <= item.soundmax)">{{item.currentsound}} dB</ion-label>
                  <ion-label class="VSmallBold" *ngIf="(item.currentsound < item.soundmin) || (item.currentsound > item.soundmax)" color="danger">{{item.currentsound}} dB</ion-label>
              </div>
              </ion-col>

              </ion-row>
              <div class="sensorstatus">  {{item._lastChangedAt | date : 'd MMM, HH:mm'}}
                <ion-icon class="greenDot" name="ellipse"></ion-icon>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <!--
        <ion-item *ngIf="item.currenthumidity">
                    <ion-thumbnail slot="start" class="myicon"><ion-img src="../../assets/icon/humidity.png"></ion-img></ion-thumbnail>
                    <ion-label *ngIf="item.currenthumidity >= item.humiditymin &&  item.currenthumidity <=  item.humiditymax">{{item.currenthumidity}} %</ion-label>
                    <ion-label *ngIf="(item.currenthumidity < item.humiditymin) || item.currenthumidity > item.humiditymax" color="danger">{{item.currenthumidity}} %</ion-label>
              </ion-item>

          <ion-col size="6" sizeSm="4" sizeMd="3" sizeLg="2" class="ion-no-padding" *ngFor="let item of dataService.dashboardlocationlist">
          <ion-card class="card-det" (click)="viewLocation(item)">
            <ion-card-content class="ion-text-center">
              <ion-label class="head-lbl SmallBold"><span>{{item.name}}</span></ion-label>
              <ion-item lines="none">
                <ion-row class="Wid100">
                  <ion-col size=6 class="temp-col  ion-text-center">
                    <ion-badge *ngIf="item.currenttemp && item.currenttemp >= item.temperaturemin &&  item.currenttemp <=  item.temperaturemax " class="tempbadge normal">{{item.currenttemp ? item.currenttemp : 5}}°C</ion-badge>
                    <ion-badge *ngIf="item.currenttemp && item.currenttemp < item.temperaturemin" class="tempbadge low">{{item.currenttemp ? item.currenttemp : 5}}°C</ion-badge>
                    <ion-badge *ngIf="item.currenttemp && item.currenttemp > item.temperaturemax" class="tempbadge high">{{item.currenttemp ? item.currenttemp : 5}}°C</ion-badge>
                   <ion-label class="temp-item ion-text-center">Temperature</ion-label>
                  </ion-col>
                  <ion-col size="6" class="humidity-col  ion-text-center">
                    <ion-badge *ngIf="item.currenthumidity && item.currenthumidity >= item.humiditymin &&  item.currenthumidity <=  item.humiditymax " class="humiditybadge normal">{{item.currenthumidity}} %</ion-badge>
                    <ion-badge *ngIf="item.currenthumidity && item.currenthumidity < item.humiditymin" class="humiditybadge low">{{item.currenthumidity}} %</ion-badge>
                    <ion-badge *ngIf="item.currenthumidity && item.currenthumidity > item.humiditymax" class="humiditybadge high">{{item.currenthumidity}} %</ion-badge>
                    <ion-label class="temp-item ion-text-center">Humidity</ion-label>
                  </ion-col>
                </ion-row>
              </ion-item>
              <div class="ion-text-center sensorstatus">  {{item._lastChangedAt | date : 'd MMM, HH:mm'}}
                <ion-icon class="greenDot" name="ellipse"></ion-icon>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        -->
      </ion-row>
    </ion-grid>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addLocation()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
