/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* fonts */
@font-face {
    font-family: "bahnschrift";
    src: url("./assets/fonts/bahnschrift.ttf");
}

* {
    font-family: "bahnschrift" !important;
}

@media (min-width: 992px) {
  .hide-lgmore {
    display: none;
  }
}

/*
@media (max-width: 768px) {
  .hide-mdless {
    display: none;
  }
}
@media (min-width: 768px) {
  .hide-mdmore {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .hide-sm {
    display: none;
  }
}*/

.note{
  color: var(--ion-color-medium);
  //margin: 5px;
}

.lightborder{
  border: solid 1.5px #ddd;
  border-radius: 5px;
}

.inputcard
{
  box-shadow: none;
  border: solid 1.5px;
  border-color: #ddd;
  border-radius: 5px;
  color: var(--ion-color-medium);
}

.avatar
{
  background-color:#FFFFFF;
  --border-radius: 10px;
}

.crud-form-wrapper {
    --border-radius: 8px;
    --height: var(--crud-form-height);
    --width: 90%;
    --max-width: 500px;
}


/*Custom-Alert css */
.my-custom-alert {
    .alert-wrapper.sc-ion-alert-ios {
        height: auto !important;
        width: auto !important;
        border-radius: 6px;
        .alert-head.sc-ion-alert-ios {
            background-color: var(--ion-color-primary) !important;
            .alert-title.sc-ion-alert-ios {
                color: var(--ion-color-primary-contrast) !important;
                font-size: 1.2rem !important;
                font-weight: normal !important;
            }
        }
        .alert-message.sc-ion-alert-ios {
            margin-top: 10px;
            padding-top: 10px;
            font-size: 1rem !important;
            font-weight: normal !important;
        }

        .alert-button-group.sc-ion-alert-ios {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

.alertButtonY {
    border: none !important ;
    padding-right: 10px !important;
    border-radius: 5px !important;
    color: var(--ion-color-secondary-contrast) !important;
    width: 50px !important;
    height: 40px;
    font-size: 1rem;
    .alert-button-inner.sc-ion-alert-ios {
        background-color: var(--ion-color-secondary) !important;
        border-radius: 5px !important;
    }
}

.alertButtonN {
    border: none !important ;
    padding-left: 10px !important;
    border-radius: 5px !important;
    color: var(--ion-color-cancel-contrast) !important;
    width: 50px !important;
    height: 40px;
    font-size: 1rem;
    .alert-button-inner.sc-ion-alert-ios {
        background-color: var(--ion-color-cancel) !important;
        border-radius: 5px !important;
    }
}
/* custom Toast css */
.success-toast {
    --color: var(--ion-color-success);
    --button-color: var(--ion-color-success);
}

.fail-toast {
    --color: var(--ion-color-danger);
    --button-color: var(--ion-color-danger);
}

.warning-toast {
    --color: var(--ion-color-warning);
    --button-color: var(--ion-color-warning);
}

ion-header {
    background: var(--ion-color-primary);
}


ion-fab {
    ion-fab-button {
        margin: 10px;
        --background: var(--ion-color-primary) !important;
    }
    ion-icon {
        height: 35px;
        width: 35px;
        --ionicon-stroke-width: 64px;
    }
}

.ion-content-grey {
    --background: var(--ion-color-contentbg);
    border: none !important;
}
/*
.ThinBorder {
    border-style: solid !important;
    border-width: thin !important;
}*/

.crudsearchbar {
    --border-radius: 25px;
    --box-shadow: 1px 1px 1px var(--ion-color-light);
    //--box-shadow: none;
    width: 100%;

    @media (min-width: 992px) {
      width: 50%;
      margin-left: 25%;
    }
}


.itemlist {
  //margin: 2px 5px 0px 5px;
  --border-radius: 5px;
}

.itemcard {
  margin: 0%;
  --border-radius: 5px;
  box-shadow: none;
  border: none;
}


.Wid100 {
    width: 100%;
}
.aligncenter {
  text-align: center !important;
}

.leftAlign {
    text-align: left !important;
}

.smallPad {
    padding: 10px !important;
}

.tinyPad {
    padding: 7px !important;
}

.noPad{
  padding: 0px;
  margin: 0px;
}

//FONTS AND SIZES
.VSmallNormal {
    font-size: 0.8rem;
    font-weight: normal;
}

.VSmallBold {
    font-size: 0.8rem;
    font-weight: bold;
}

.SmallNormal {
    font-size: 0.9rem;
    font-weight: normal;
}

.SmallBold {
    font-size: 0.9rem;
    font-weight: bold;
}

.MediumNormal {
    font-size: 1.1rem;
    font-weight: normal;
}

.MediumBold {
    font-size: 1.1rem;
    font-weight: bold;
}

.LargeNormal {
    font-size: 1.2rem;
    font-weight: normal;
}

.LargeBold {
    font-size: 1.2rem;
    font-weight: bold;
}

.VLargeNormal {
    font-size: 1.4rem;
    font-weight: normal;
}

.VLargeBold {
    font-size: 1.4rem;
    font-weight: bold;
}

//CUSTOM COLOR CLASSES
.ion-color-cancel {
  --ion-color-base: var(--ion-color-cancel);
  --ion-color-base-rgb: var(--ion-color-cancel-rgb);
  --ion-color-contrast: var(--ion-color-cancel-contrast);
  --ion-color-contrast-rgb: var(--ion-color-cancel-contrast-rgb);
  --ion-color-shade: var(--ion-color-cancel-shade);
  --ion-color-tint: var(--ion-color-cancel-tint);
}

.ion-color-progress {
  --ion-color-base: var(--ion-color-progress);
  --ion-color-base-rgb: var(--ion-color-progress-rgb);
  --ion-color-contrast: var(--ion-color-progress-contrast);
  --ion-color-contrast-rgb: var(--ion-color-progress-contrast-rgb);
  --ion-color-shade: var(--ion-color-progress-shade);
  --ion-color-tint: var(--ion-color-progress-tint);
}

.ion-color-accent {
  --ion-color-base: var(--ion-color-accent);
  --ion-color-base-rgb: var(--ion-color-accent-rgb);
  --ion-color-contrast: var(--ion-color-accent-contrast);
  --ion-color-contrast-rgb: var(--ion-color-accent-contrast-rgb);
  --ion-color-shade: var(--ion-color-accent-shade);
  --ion-color-tint: var(--ion-color-accent-tint);
}
