<ion-header><app-holatoolbar title="Notifications"></app-holatoolbar>
</ion-header>
<ion-content>
<ion-row>
 <ion-col size="12" sizeMd="8" offsetMd="2">
   <ion-item lines="full" class="VSmallBold">
    <ion-label class="ion-text-left" color="primary">Mark all as read</ion-label>
    <ion-label class="ion-text-right" color="primary">Clear all</ion-label>
   </ion-item>
   <ion-item class="VSmallNormal unread" lines="full">
    <ion-icon name="arrow-up-outline" slot="start" class="myicon"></ion-icon>
    <ion-label>Tempreture
      <p class="VSmallNormal">Operation Theater - Room 12<br>Jan 08, 15:30</p>
    </ion-label>
    <ion-button fill="outline" color="light">X</ion-button>
   </ion-item>
   <ion-item class="VSmallNormal" lines="full">
    <ion-icon name="arrow-down-outline" slot="start" class="myicon"></ion-icon>
    <ion-label>Humidity
      <p class="VSmallNormal">Operation Theater - Room 4<br>Jan 07, 11:30</p>
    </ion-label>
    <ion-button fill="outline" color="light">X</ion-button>
   </ion-item>
</ion-col>
</ion-row>

</ion-content>
